RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(js|ico|gif|jpg|png|css|xbl|xul|html|pdf|gz)$ index.php 
Options -Indexes
php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag short_open_tag on